@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 979px) { 

 #headline{
 	padding:0;
 	padding-top: 110px;
 }
 #headline h1{
 	text-align: center;
 }

 #headline .btn-danger{
 	display: table;
 	margin: auto;
 }

#headline img{
	display: table;
	margin: auto;
}


#products {
	padding-bottom: 20px;
	margin-top: 50px;
}

#products .img-1{
	position: static;
	display: table;
	margin: auto;
	width: 50%;
}

#products .img-2{
	position: static;
	display: table;
	margin: auto;
	width: 50%;
}

#products .img-pure-taste{
	position: static;
	display: table;
	margin:auto;
}

#products .price-1{
	position: static;
}

#products .price-2{
	position: static;
}

.price-1, .price-2{
	text-align: left;
	
	margin: auto;
	background: #e8244a;
	width: 100%;
	height: 50px;
	border-bottom: 10px solid #fff;
	margin-bottom: 150px;
	margin-top: -130px;

}

.price-1 strong{
	margin-left: 30px;
	
}

.price-1 {
	padding-top: 10px;
}

.price-2 {
	text-align: right;
	padding-top: 10px;
}

.price-2 strong{
	margin-right: 30px;
}


.pink-bar, .white-bar{
	display: none;
}

/*============info===================*/

#info {
	text-align: center;
}

#info ul{
	margin: 0;
	padding-bottom: 90px;
}




 }